@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #007af3;
}

body {
  background: #323232;
  margin: 0;
  font-family: "Poppins";
}

.header {
  z-index: 999;
  position: relative;
  height: 95vh;
}

header::before,
header::after {
  content: "";
  background-color: hsl(20, 20%, 30%);
  background: url("/images/prism.png");
}
header::before {
  position: fixed;
  width: 100%;
  z-index: 100;
}
header::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.navbar {
  padding: 1em;
  position: fixed;
  width: 92%;

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    span {
      color: var(--primary-color);
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

a {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 1em;

  h2 {
    font-size: 1.8rem;
  }
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #323232;
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

nav.menu-btn ul.secondary-nav {
  margin-top: 2em;
}

//Hero section

.hero {
  text-align: center;
  color: #fff;

  .left-col {
    h1 {
      font-size: 2.5em;
      line-height: 1.3em;
      margin-top: 0.2em;
    }
    p.role {
      color: var(--primary-color);
      text-transform: uppercase;
      font-weight: bold;
    }

    p.brief {
      margin-bottom: 3.5em;
      font-size: 0.9375rem;
      line-height: 1.3125rem;
    }

    a.view-res {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.85em 1.5em;
      background-color: var(--primary-color);
      border-radius: 25px;
    }
  }

  .hero-img {
    display: none;
  }
}

//About Section

.about .container {
  color: #fff;
  text-align: center;

  h2 {
    color: var(--primary-color);
  }

  .hero-img-mobile {
    display: unset;
    border-radius: 100px 100px 200px 100px;
    margin-bottom: 1em;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.2rem;
  }
}

//Tools-skills
$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.tools-skills {
  padding-bottom: 0;
  .container {
    overflow-x: hidden;
  }
  h2 {
    color: var(--primary-color);
    text-align: center;
  }

  .slider-desktop {
    display: none;
  }

  .slider {
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      width: 100px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    li {
      text-align: center;
      margin: 1.45rem 1rem;
      position: relative;
      width: 3.75rem;
      background-color: #444343;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);

      div {
        height: 3.5rem;
        width: 100%;
        border-radius: 7px 7px 3px 3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        color: #fff;
        font-size: 0.65rem;
        line-height: 1.64em;
        margin: 0;
      }
    }

    svg {
      color: white;
      width: 100%;
      height: 50%;
    }
  }
}

//My portfolio
.portfolio {
  color: #fff;
  text-align: center;

  h2 {
    color: var(--primary-color);
    font-size: 1.8rem;
  }

  p {
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.2rem;
  }

  .portfolio-items {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .port-item:nth-child(1):before {
    background-image: url("/images/squiry.png");
    background-size: contain;
  }
  .port-item:nth-child(2):before {
    background-image: url("/images/design.png");
    background-size: contain;
  }
  .port-item:nth-child(3):before {
    background-image: url("/images/teech.png");
    background-size: contain;
  }

  .port-item {
    width: 240rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px,
      rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    height: 31.25rem;
    overflow: hidden;
    border-radius: 5px;
    transition: all 1s ease 0s;
    flex: 0 1 20rem;

    display: flex;
    flex-direction: column;
    margin-bottom: 2.6rem;
  }

  .port-item::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background-size: cover;
    background-color: rgb(15, 13, 22);
    object-fit: cover;
    transition: all 0.5s ease-in 0s;
    background-position: 50% center;
    background-repeat: no-repeat;
  }

  .port-item:hover::before {
    opacity: 0;
    transition: all 0.5s ease 0s;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }

  .wrapper::before,
  .wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: all 0.6s ease 0s;
  }

  .wrapper::before {
    transform: skew(30deg) translateX(125%);
  }
  .wrapper::after {
    transform: skew(30deg) translateX(-125%);
  }

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    opacity: 0;
    color: rgb(255, 255, 255);
    padding: 1rem 10px;
    transition: all 0.3s ease 0s;

    p {
      font-size: 0.9em;
      line-height: 1.8em;
      font-weight: 500;
    }
  }

  .card:hover {
    opacity: 1;
    transition: all 0.6s ease 0.2s;
  }

  .preview_n_code {
    display: flex;
    margin-top: 2em;

    a {
      text-decoration: none;
      background: #007af3;
    }

    a.live {
      color: #fff;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease 0s;
      width: auto;
      height: auto;
      font-size: 12px;
      margin: 0px;
      padding: 12px;
      border-radius: 25px;

      margin-right: 10px;
    }

    a.github {
      border: none;
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      text-align: center;
      padding: 15px;
      margin: 0px;
      border-radius: 50%;
      transition: all 0.2s ease 0s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .more-projects {
    display: flex;
    flex-direction: column;
  }

  .more-projects .project-card {
    background: #444343;
    padding: 1.5rem;
    border-radius: 4px;
    margin-bottom: 1.25rem;
  }

  .more-projects header {
    line-height: 1.7;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .more-projects .icon-header {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .more-projects .icon-header a {
    color: var(--text-primary-color);
    margin-left: 0.7rem;
    font-size: 1.1rem;
  }

  .more-projects .icon-header a:hover {
    color: var(--primary-color);
  }

  .more-projects ul {
    display: flex;
  }

  .more-projects li {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: var(--primary-color);
  }

  .view-more-btn {
    margin-top: 2em;
    a {
      background: #fff;
      color: var(--primary-color);
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.85em 1.5em;
      border-radius: 25px;
    }
  }
}

//My blog
.blog {
}

//Contact me
.contact-me {
  color: #fff;
  text-align: center;

  h2 {
    color: var(--primary-color);
    text-align: center;
  }

  p {
    font-size: 0.95rem;
  }

  form {
    margin: 0 auto;
    padding: 1.4em 1.9em;
    background: #444343;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    text-align: left;

    overflow: hidden;
    border-radius: 0.5rem;

    .name,
    .email,
    .message {
      margin-bottom: 1.2rem;
    }

    label {
      display: block;
      font-size: 1rem;
      margin-bottom: 0.5em;
    }
    input {
      width: 100%;
      padding: 0.75em 1em;
      margin-bottom: 1em;
      border-radius: 0.3em;
      border: 1px solid gray;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      background: #323232;
      color: #fff;
      font-size: 100%;
    }
    textarea {
      width: 100%;
      padding: 0.8em;
      margin-bottom: 1em;
      border-radius: 0.3em;
      border: 1px solid gray;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      background: #323232;
      color: #fff;
    }

    .send-btn {
      display: flex;
      justify-content: center;

      button {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0.85em 2em;
        background-color: var(--primary-color);
        border-radius: 25px;
        border: var(--primary-color);
        color: #fff;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}

//Footer
footer.footer {
  color: #ffffff;
  min-height: 12rem;
  background: #292929;
  display: flex;
  align-items: center;

  .container {
    width: 100%;

    .d-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }

    .socials {
      width: 12rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    width: 100%;
    padding-left: 0;
  }
  h2 {
    font-size: 2rem;
  }
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  nav.menu-btn ul.secondary-nav {
    margin-top: 0em;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    a {
      color: #fff;
      font-size: 1em;
      padding: 0.1em 1em;
    }

    ul.primary-nav {
      margin: 0;
    }

    li.current a {
      font-weight: bold;
    }
    li.go-premium-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;

      &:hover {
        background: var(--primary-color);
        color: white;
      }
    }
  }

  .more-projects {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .more-projects .project-card {
    margin-bottom: 0;
  }

  footer.footer {
    min-height: 10rem;
    .container {
      .d-flex {
        flex-direction: unset !important;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .port-item {
    width: 100% !important;
    flex: none !important;
  }
}

@media only screen and (min-width: 1080px) {
  .header {
    height: unset;
  }

  .container {
    width: 1080px !important;
    margin: 0 auto;

    h2 {
      font-size: 2.2rem;
    }
  }

  section {
    padding: 7em 4em;
  }

  //Hero section
  section.hero {
    padding: 8em 4em;
  }
  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      h1 {
        font-size: 3rem;
        line-height: 3.625rem;
        width: 85%;
      }
    }

    .hero-img {
      display: unset;
      width: 30%;
      margin-right: 8em;
      border-radius: 100px 100px 200px 100px;
      max-width: 320px;
      max-height: 320px;

      display: flex;
      align-self: center;
    }
  }

  section.about {
    .hero-img-mobile {
      display: none !important;
    }
  }

  .tools-skills {
    padding: 2em 4em;

    .slider-desktop {
      display: unset;
    }

    .slider-mobile {
      display: none;
    }
    ul {
      li {
        margin: 2.3rem 1.5rem;
        width: 6rem;

        div {
          height: 4.5rem;
        }
        p {
          font-size: 0.75rem;
          line-height: 2em;
        }
      }
    }
  }

  //Contact me
  .contact-me {
    .name,
    .email,
    .message {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    .name {
      display: flex;

      .first-name,
      .last-name {
        width: 50%;
      }

      .first-name {
        padding-right: 0.75rem;
      }

      .last-name {
        padding-left: 0.75rem;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  section.hero {
    padding: 9.5em 1em;
  }
}
