@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
}

body {
  background: #323232;
  margin: 0;
  font-family: "Poppins";
}

.header {
  background: url("/images/prism.png");
}

.navbar {
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 1em;
}

section h2 {
  font-size: 1.8rem;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #323232;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

nav.menu-btn ul.secondary-nav {
  margin-top: 2em;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navba with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.hero {
  text-align: center;
  color: #fff;
}

.hero .left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.hero .left-col p.role {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
}

.hero .hero-img-mobile {
  display: unset;
  border-radius: 100px 100px 200px 100px;
  margin-bottom: 1em;
}

.hero .hero-img {
  display: none;
}

.about .container {
  color: #fff;
  text-align: center;
}

.about .container h2 {
  color: var(--primary-color);
}

.about .container p {
  font-size: 0.95rem;
  line-height: 1.2rem;
}

.about .container p:nth-last-of-type(1) {
  padding-bottom: 2em;
}

.about .container a.view-res {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.85em 1.5em;
  background-color: var(--primary-color);
  border-radius: 25px;
}

.tools-skills h2 {
  color: var(--primary-color);
  text-align: center;
}

.tools-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tools-skills ul li {
  text-align: center;
  margin: 1.45rem 1rem;
  position: relative;
  width: 3.75rem;
  background-color: #444343;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.tools-skills ul li div {
  height: 3.5rem;
  width: 100%;
  border-radius: 7px 7px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tools-skills ul li p {
  color: #fff;
  font-size: 0.65rem;
  line-height: 1.64em;
  margin: 0;
}

.tools-skills ul svg {
  color: white;
  width: 100%;
  height: 50%;
}

.portfolio {
  color: #fff;
  text-align: center;
}

.portfolio h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
}

.portfolio p {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.2rem;
}

.portfolio .project-list {
  margin-top: 4em;
  margin-bottom: 3.5em;
}

.portfolio .project-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 170px 1fr;
      grid-template-columns: 1fr 170px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 4em;
}

.portfolio .project-wrap {
  padding: 50px;
  background-color: #444343;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  border-radius: 10px;
  min-height: 350px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / auto / 3;
}

.portfolio .project-wrap .project-container {
  width: 75%;
  text-align: left;
}

.portfolio .project-wrap h3 {
  margin-bottom: 25px;
  margin: 10px 0px;
  line-height: 140%;
  color: #f8f8f8;
}

.portfolio .project-wrap p {
  line-height: 170%;
  min-height: 250px;
}

.portfolio .project-wrap .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 20px 0px 0px;
}

.portfolio .project-wrap .links a {
  text-decoration: none;
  background: #007af3;
  color: #f8f8f8;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: auto;
  height: auto;
  font-size: 12px;
  margin: 0px;
  padding: 12px;
  border-radius: 5px;
  margin-right: 10px;
}

.portfolio .project-pic {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / auto / 4;
  position: relative;
  right: -20px;
}

.portfolio .project-pic .image {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  background-color: #303030;
  border-radius: 10px;
}

.portfolio .project-pic .image iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 10px;
  opacity: 1;
}

.portfolio .project-pic .stack {
  margin: 10px;
  color: #007af3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
}

.portfolio .project-pic .stack img {
  margin-right: 25px;
}

.portfolio .view-more-btn {
  margin-top: 2em;
}

.portfolio .view-more-btn a {
  background: #fff;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.85em 1.5em;
  border-radius: 25px;
}

.contact-me {
  color: #fff;
  text-align: center;
}

.contact-me h2 {
  color: var(--primary-color);
  text-align: center;
}

.contact-me p {
  font-size: 0.95rem;
}

.contact-me form {
  margin: 0 auto;
  padding: 1.4em 1.9em;
  background: #444343;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  overflow: hidden;
  border-radius: 0.5rem;
}

.contact-me form .name,
.contact-me form .email,
.contact-me form .message {
  margin-bottom: 1.2rem;
}

.contact-me form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.contact-me form input {
  width: 100%;
  padding: 0.75em 1em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #323232;
  color: #fff;
  font-size: 100%;
}

.contact-me form textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #323232;
  color: #fff;
}

.contact-me form .send-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-me form .send-btn button {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.85em 2em;
  background-color: var(--primary-color);
  border-radius: 25px;
  border: var(--primary-color);
  color: #fff;
}

.contact-me form .send-btn button:hover {
  cursor: pointer;
}

footer.footer {
  color: #ffffff;
  min-height: 12rem;
  background: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.footer .container {
  width: 100%;
}

footer.footer .container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.footer .container .socials {
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer.footer .container .socials img {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  nav.menu-btn ul.secondary-nav {
    margin-top: 0em;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: #fff;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  footer.footer {
    min-height: 10rem;
  }
  footer.footer .container .d-flex {
    -webkit-box-orient: unset !important;
    -webkit-box-direction: unset !important;
        -ms-flex-direction: unset !important;
            flex-direction: unset !important;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px !important;
    margin: 0 auto;
  }
  .container h2 {
    font-size: 2.2rem;
  }
  section {
    padding: 7em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col h1 {
    font-size: 3rem;
    line-height: 3.625rem;
    width: 90%;
  }
  .hero .container .hero-img-mobile {
    display: none;
  }
  .hero .container .hero-img {
    display: unset;
    width: 30%;
    margin-right: 8em;
    border-radius: 100px 100px 200px 100px;
  }
  .tools-skills {
    padding: 4.5em 4em;
  }
  .tools-skills ul li {
    margin: 2.3rem 1.5rem;
    width: 6rem;
  }
  .tools-skills ul li div {
    height: 4.5rem;
  }
  .tools-skills ul li p {
    font-size: 0.75rem;
    line-height: 2em;
  }
  .contact-me .name,
  .contact-me .email,
  .contact-me .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .contact-me .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-me .name .first-name,
  .contact-me .name .last-name {
    width: 50%;
  }
  .contact-me .name .first-name {
    padding-right: 0.75rem;
  }
  .contact-me .name .last-name {
    padding-left: 0.75rem;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolio .project-wrap {
    min-height: unset;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    grid-row: unset;
    padding: 30px;
  }
  .portfolio .project-container {
    width: 100% !important;
    text-align: left;
  }
  .portfolio .project-container p {
    min-height: unset;
  }
  .portfolio .project-pic {
    right: 0px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    margin-bottom: 20px;
  }
  .portfolio .project-pic .stack {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */