@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
}

body {
  background: #323232;
  margin: 0;
  font-family: "Poppins";
}

.header {
  z-index: 999;
  position: relative;
  height: 95vh;
}

header::before,
header::after {
  content: "";
  background-color: #5c473d;
  background: url("/images/prism.png");
}

header::before {
  position: fixed;
  width: 100%;
  z-index: 100;
}

header::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.navbar {
  padding: 1em;
  position: fixed;
  width: 92%;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 1em;
}

section h2 {
  font-size: 1.8rem;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #323232;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

nav.menu-btn ul.secondary-nav {
  margin-top: 2em;
}

.hero {
  text-align: center;
  color: #fff;
}

.hero .left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.hero .left-col p.role {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
}

.hero .left-col p.brief {
  margin-bottom: 3.5em;
  font-size: 0.9375rem;
  line-height: 1.3125rem;
}

.hero .left-col a.view-res {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.85em 1.5em;
  background-color: var(--primary-color);
  border-radius: 25px;
}

.hero .hero-img {
  display: none;
}

.about .container {
  color: #fff;
  text-align: center;
}

.about .container h2 {
  color: var(--primary-color);
}

.about .container .hero-img-mobile {
  display: unset;
  border-radius: 100px 100px 200px 100px;
  margin-bottom: 1em;
}

.about .container p {
  font-size: 0.95rem;
  line-height: 1.2rem;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.tools-skills {
  padding-bottom: 0;
}

.tools-skills .container {
  overflow-x: hidden;
}

.tools-skills h2 {
  color: var(--primary-color);
  text-align: center;
}

.tools-skills .slider-desktop {
  display: none;
}

.tools-skills .slider {
  overflow: hidden;
  position: relative;
}

.tools-skills .slider::before, .tools-skills .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.tools-skills .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.tools-skills .slider::before {
  left: 0;
  top: 0;
}

.tools-skills .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

.tools-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tools-skills ul li {
  text-align: center;
  margin: 1.45rem 1rem;
  position: relative;
  width: 3.75rem;
  background-color: #444343;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.tools-skills ul li div {
  height: 3.5rem;
  width: 100%;
  border-radius: 7px 7px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tools-skills ul li p {
  color: #fff;
  font-size: 0.65rem;
  line-height: 1.64em;
  margin: 0;
}

.tools-skills ul svg {
  color: white;
  width: 100%;
  height: 50%;
}

.portfolio {
  color: #fff;
  text-align: center;
}

.portfolio h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
}

.portfolio p {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.2rem;
}

.portfolio .portfolio-items {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .port-item:nth-child(1):before {
  background-image: url("/images/squiry.png");
  background-size: contain;
}

.portfolio .port-item:nth-child(2):before {
  background-image: url("/images/design.png");
  background-size: contain;
}

.portfolio .port-item:nth-child(3):before {
  background-image: url("/images/teech.png");
  background-size: contain;
}

.portfolio .port-item {
  width: 240rem;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  height: 31.25rem;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20rem;
          flex: 0 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.6rem;
}

.portfolio .port-item::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background-size: cover;
  background-color: #0f0d16;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  background-position: 50% center;
  background-repeat: no-repeat;
}

.portfolio .port-item:hover::before {
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.portfolio .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.portfolio .wrapper::before,
.portfolio .wrapper::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.portfolio .wrapper::before {
  -webkit-transform: skew(30deg) translateX(125%);
          transform: skew(30deg) translateX(125%);
}

.portfolio .wrapper::after {
  -webkit-transform: skew(30deg) translateX(-125%);
          transform: skew(30deg) translateX(-125%);
}

.portfolio .card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  opacity: 0;
  color: white;
  padding: 1rem 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio .card p {
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.portfolio .card:hover {
  opacity: 1;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}

.portfolio .preview_n_code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.portfolio .preview_n_code a {
  text-decoration: none;
  background: #007af3;
}

.portfolio .preview_n_code a.live {
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: auto;
  height: auto;
  font-size: 12px;
  margin: 0px;
  padding: 12px;
  border-radius: 25px;
  margin-right: 10px;
}

.portfolio .preview_n_code a.github {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  margin: 0px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .more-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .more-projects .project-card {
  background: #444343;
  padding: 1.5rem;
  border-radius: 4px;
  margin-bottom: 1.25rem;
}

.portfolio .more-projects header {
  line-height: 1.7;
  margin-bottom: 1.5rem;
  text-align: left;
}

.portfolio .more-projects .icon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1rem;
}

.portfolio .more-projects .icon-header a {
  color: var(--text-primary-color);
  margin-left: 0.7rem;
  font-size: 1.1rem;
}

.portfolio .more-projects .icon-header a:hover {
  color: var(--primary-color);
}

.portfolio .more-projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .more-projects li {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: var(--primary-color);
}

.portfolio .view-more-btn {
  margin-top: 2em;
}

.portfolio .view-more-btn a {
  background: #fff;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.85em 1.5em;
  border-radius: 25px;
}

.contact-me {
  color: #fff;
  text-align: center;
}

.contact-me h2 {
  color: var(--primary-color);
  text-align: center;
}

.contact-me p {
  font-size: 0.95rem;
}

.contact-me form {
  margin: 0 auto;
  padding: 1.4em 1.9em;
  background: #444343;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  overflow: hidden;
  border-radius: 0.5rem;
}

.contact-me form .name,
.contact-me form .email,
.contact-me form .message {
  margin-bottom: 1.2rem;
}

.contact-me form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.contact-me form input {
  width: 100%;
  padding: 0.75em 1em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #323232;
  color: #fff;
  font-size: 100%;
}

.contact-me form textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #323232;
  color: #fff;
}

.contact-me form .send-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-me form .send-btn button {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.85em 2em;
  background-color: var(--primary-color);
  border-radius: 25px;
  border: var(--primary-color);
  color: #fff;
}

.contact-me form .send-btn button:hover {
  cursor: pointer;
}

footer.footer {
  color: #ffffff;
  min-height: 12rem;
  background: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.footer .container {
  width: 100%;
}

footer.footer .container .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.footer .container .socials {
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer.footer .container .socials img {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .navbar {
    width: 100%;
    padding-left: 0;
  }
  h2 {
    font-size: 2rem;
  }
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  nav.menu-btn ul.secondary-nav {
    margin-top: 0em;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: #fff;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .more-projects {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 3rem;
  }
  .more-projects .project-card {
    margin-bottom: 0;
  }
  footer.footer {
    min-height: 10rem;
  }
  footer.footer .container .d-flex {
    -webkit-box-orient: unset !important;
    -webkit-box-direction: unset !important;
        -ms-flex-direction: unset !important;
            flex-direction: unset !important;
  }
}

@media screen and (max-width: 568px) {
  .port-item {
    width: 100% !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
  }
}

@media only screen and (min-width: 1080px) {
  .header {
    height: unset;
  }
  .container {
    width: 1080px !important;
    margin: 0 auto;
  }
  .container h2 {
    font-size: 2.2rem;
  }
  section {
    padding: 7em 4em;
  }
  section.hero {
    padding: 8em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col h1 {
    font-size: 3rem;
    line-height: 3.625rem;
    width: 85%;
  }
  .hero .container .hero-img {
    display: unset;
    width: 30%;
    margin-right: 8em;
    border-radius: 100px 100px 200px 100px;
    max-width: 320px;
    max-height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  section.about .hero-img-mobile {
    display: none !important;
  }
  .tools-skills {
    padding: 2em 4em;
  }
  .tools-skills .slider-desktop {
    display: unset;
  }
  .tools-skills .slider-mobile {
    display: none;
  }
  .tools-skills ul li {
    margin: 2.3rem 1.5rem;
    width: 6rem;
  }
  .tools-skills ul li div {
    height: 4.5rem;
  }
  .tools-skills ul li p {
    font-size: 0.75rem;
    line-height: 2em;
  }
  .contact-me .name,
  .contact-me .email,
  .contact-me .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .contact-me .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-me .name .first-name,
  .contact-me .name .last-name {
    width: 50%;
  }
  .contact-me .name .first-name {
    padding-right: 0.75rem;
  }
  .contact-me .name .last-name {
    padding-left: 0.75rem;
  }
}

@media only screen and (max-width: 1000px) {
  section.hero {
    padding: 9.5em 1em;
  }
}
/*# sourceMappingURL=main.css.map */